html {
    height: 100%;
    overflow: hidden;
}

body{
    color: ghostwhite;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
    background-color: antiquewhite;
}

header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1{
    margin-top: -100px;
}

header p {
color: white;
padding-left: 
}

h2, h3{
    font-size : 20px;
}
h2{
    margin-top: 100px;
}
h3{

}

h4{
    margin-bottom: -100px;
}
p{
    margin-top: 700px;
    color: black;
}
header, header:before{
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(images/partirEtranger.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

img{
    float:left;
    width:50%;
    float:right;
    width:50%;
}
#image img {
    float:left;
    margin-left: 4%;
    width:40%;
    float:right;
    width:40%;
    margin-right: 4%;
    border: solid 1px black;
}


/* Bas de page */
#back1{background-color:rgb(187, 166, 138);
}
#back2{background-color:rgb(236, 201, 155) ;
}
#Rejoignez{margin-top: 13%;
    margin-bottom: -6.5%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    padding: 1%;
    margin-left: 2%;
}
#Rejoignez img {width: 2%;
    height: 2%;
}
#Contact{text-align: right;
    margin-top: -8.5%;
    font-family: Helvetica;
    margin-right: 18.25%;
}
#a{text-align: right;
    font-family: Helvetica;
    margin-right: 2.9%;
}
#b{text-align: right;
    font-family: Helvetica;
    margin-right: 8%;
}
#c{text-align: right;
    font-family: Helvetica;
    margin-right: 13.5%;
}
#d{text-align: right;
    font-family: Helvetica;
    margin-right: 20.3%;
}
#Formation{margin-left: 2.8%;
    margin-top: 6.5%;
    padding: 2.5%;
}
#Internationnal{margin-left: 23%;
    margin-top: -11.3%;
}
#vie{margin-left: 41%;
    margin-top:-3.1%;
}
#Entreprise{margin-left: 63%;
    margin-top: -8.4%;
}
#IUT{margin-left: 85%;
    margin-top: -4.8%;
}
#Souligne a{text-decoration: none;
    color: black;
}
#bot{margin-top: 5%;
}
#bot a{text-decoration: none;
    color: black;
    font-size: 16px;
}
#Annuaire{margin-left: 4%;
    margin-top: 2%;
    margin-bottom: -4.5%;
}
#Mention{margin-left: 14%;
    margin-top: 3.5%;
    margin-bottom: -0.8%;
}
#Contacter{margin-left:28%;
    margin-top: -1.2%;
    padding-bottom: 2%;
}
 
#imguniv{margin-left: 90%;
    margin-top: -4.2%;
    width: 10%;
    height: 10%;
}
.gras{font-weight: bolder;
    font-size: 18px;
    text-decoration: underline;
}
.taille{font-size: 13px;
}
footer {margin-top: 50%;
}








/* Responsive Footer */

/* Smartphones */
@media(min-width: 0px) and (max-width: 425px)
{
#Rejoignez{display: inline;
}
#Formation{display: inline;
}
#Internationnal{display: inline;
}
#vie{display: inline;
}
#Entreprise{display: inline;
}
#IUT{display: inline;
}
#bot{display: inline;
}
#Annuaire{display: inline;
}
#Mention{display: inline;
}
#Contacter{display: inline;
}
}

/* Tablettes */
@media(min-width: 426px) and (max-width: 767px)
{
#Rejoignez{display: inline;
}
#Formation{display: inline;
}
#Internationnal{display: inline;
}
#vie{display: inline;
}
#Entreprise{display: inline;
}
#IUT{display: inline;
}
#bot{display: inline;
}
#Annuaire{display: inline;
}
#Mention{display: inline;
}
#Contacter{display: inline;
}
}

/* Ordinateurs portables */ 
@media(min-width: 768px) and (max-width: 1388px)
{
#Rejoignez{display: inline;
}
#Formation{display: inline;
}
#Internationnal{display: inline;
}
#vie{display: inline;
}
#Entreprise{display: inline;
}
#IUT{display: inline;
}
#bot{display: inline;
}
#Annuaire{display: inline;
}
#Mention{display: inline;
}
#Contacter{display: inline;
}
}
