

a
{
  text-decoration: none; /* on enlève les déco des liens*/
  color: inherit;
}

li
{ /* on enlève les déco des listes*/
  list-style-type: none;
  position: relative;
  display: inline-block; /* Mettre en ligne les titres*/
}

#titre
{

  color: green;
}

#titre li
{
  margin-left: 10%;
  border: 10px ridge rgba(170, 50, 220, .6);
  padding: 10px;
}

#titre ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}











/* #titre a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}

#titre ul a{
padding:8px 0;
}
#titre li:hover li a{
color:#fff;
text-transform:inherit;
}
#titre li:hover a, #titre li li:hover a{
color:#000;
} */
