

li
{ /* on enlève les déco des listes*/
  list-style-type: none;
  position: relative;
  display: inline-block; /* Mettre en ligne les titres*/
}

#titre
{
  color: inherit;
}

#titre li
{
  margin-left: 10%;
  padding: 10px;
  margin-bottom: 5px;

    /* Pour la couleur et la forme du menu
  border: 5px ridge rgba(170, 50, 220);
  background-color: rgba(170, 50, 220, 0.6);
  border-radius: 8px 8px 8px 8px;*/
}

#titre li:hover
{
 /*problème: ne prend pas le caouleur jusqu'en haut*/
border: solid 2px; /* contour des éléments menu*/
border-radius: 8px 8px 8px 8px;
  background-color: rgba(170, 50, 220, 0.6);
}

.formation
{
/*background-color: rgba(0, 170, 154);*/
}

#gros /*changer les couleurs pour chaque titres; forme des titres*/
{
  background-color: rgba(170, 50, 220, 0.6);
padding: 10px;
border: solid 1px;
border-radius: 8px 8px 8px 8px;
}


#titre ul{
max-height: 0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}

#titre li:hover ul{
max-height:15em;
}






 #titre a{
text-decoration:none;
font-family:arial;
color: inherit;
}
 #titre ul a{
padding:8px 0;
}

/*#titre li:hover li a{
color:#fff;
text-transform:inherit;
} */


#titre li:hover a, #titre li li:hover a{
color:#000;
}
