body{
    background-color: ghostwhite;
    width: 860;
    height: 1024;
    margin: 225px;
    font-family: helvetica, arial, sans-serif;
}

h2,h3, h4,h5, h6{
    color: #E71D73;
    font-size: 30px;
    font-weight: normal;
   /* font-family: "Tw center bold"; */
}

h1{
    text-align: center;
    color: #E71D73;
    font-size: 50px;
    font-weight: normal;
/*    font-family: "Tw center bold"; - compatible exclusivement sous mac */
}

a:link, a:active, a:any-link{
    color: #E71D73;
}

a, p, li{
/*    font-family: "Tw center bold"; - compatible exclusivement sous mac */
}

.trait{
    border-collapse: collapse;
    border-left: 4px solid #E71D73;
    padding-left: 50px;
    margin: auto;
    border-right: 1px dashed dimgrey;
    padding-right: 20px;
}
#oblic{
    max-width:  100%;
    font-weight: 600;
    color: dimgrey;
    overflow-x: hidden;
    padding-top: 10px;
}
h5{
    line-height: 1px;
}