body{
    background-color: ghostwhite;
    width: 860;
    height: 1024;
    margin: 225px;
    font-family: helvetica, arial, sans-serif;
}

h2,h3, h4,h5, h6{
    color: #E71D73;
    font-size: 30px;
    font-weight: normal;
   /* font-family: "Tw center bold"; */
}

h1{
    text-align: center;
    color: #E71D73;
    font-size: 50px;
    font-weight: normal;
/*    font-family: "Tw center bold"; - compatible exclusivement sous mac */
}

a:link, a:active, a:any-link{
    color: #E71D73;
}

a, p, li{
/*    font-family: "Tw center bold"; - compatible exclusivement sous mac */
}

.trait{
    border-collapse: collapse;
    border-left: 4px solid #E71D73;
    padding-left: 50px;
    margin: auto;
    border-right: 1px dashed dimgrey;
    padding-right: 20px;
}
#oblic{
    max-width:  100%;
    font-weight: 600;
    color: dimgrey;
    overflow-x: hidden;
    padding-top: 10px;
}
h5{
    line-height: 1px;
}

.menu ul {
  width: 1000px;
  margin: 30px auto;
  text-align: center;
  font-size: 35px; 
}

.menu ul li{
  list-style:none;
  display:inline-block;
  padding:15px;
}

.menu a{
  color: #E71D73;
  text-decoration:none;
  position:relative;
  padding:6px 0;
  transition: all 0.8s;
} 

.menu a:after{
  content:'';
  width:0%;
  margin-left:50%;
  height:2px;
  bottom:0;
  left:0;
  border-radius: 40%;
  transition:all 0.5s;
  position:absolute;
}

.menu a:hover:after {
  background-color: #E71D73;
  width:60%;
  margin-left:20%;
  box-shadow: 0px 0px 10px #ef9a9a;
}